<%- include('header'); -%>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <div>
        <form name="createuser" id="createuser">
            <div><input id="username" name="username" value="" placeholder="Enter Username" /></div>
            <div><input id="useremail" name="useremail" value="" placeholder="Enter Email" /></div>
            <div><input id="usercity" name="usercity" value="" placeholder="Enter city" /></div>
            <div><button name="create">Create</button></div>
        </form>
    </div>
  </body>
<%- include('footer'); -%>
